
<div class="card mt-4">
  <app-img [changeImg]="getUrlImg()"></app-img>
  <div class="card-body d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title fw-bold">{{ movie.title }}</h5>
      <p class="card-text">{{ movie.overview }}</p>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <a href="#" class="btn btn-md btn-primary align-self-end fw-bold">Ver detalles</a>
      <button appHighlight type="button" (click)="onAddToFav()" class="btn btn-sm btn-danger align-self-end fw-bold">Añadir a favoritos</button>
    </div>
  </div>
</div>
