.movies--grid {
  display: flex;
  flex-direction: column;
}

.product-detail {
  position: fixed;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
}

.datos--small {
  display: flex;
  flex-direction: column;
}

.product-detail--container{
  width: 100%;
  height: 100%;
  padding: 0 12px;
  margin-top: 60px;
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .movies--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .product-detail {
    left: 50%;
  }
}
@media screen and (min-width: 64em) and (max-width: 94.9em){
  .movies--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .product-detail {
    left: 60%;
  }
  .datos--small {
    flex-direction: row;
  }
}
@media screen and (min-width: 95em) {
  .movies--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .product-detail{
    left: 65%;
  }
  .datos--small {
    flex-direction: row;
  }
}
