.movies--grid {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .movies--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 64em) and (max-width: 94.9em){
  .movies--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 95em) {
  .movies--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
